# This file specifies files that are _not_ uploaded to Google Cloud

# using gcloud. It follows the same syntax as .gitignore, with the addition of

# "#!include" directives (which insert the entries of the given .gitignore-style

# file at that point).

#

# For more information, run:

# $ gcloud topic gcloudignore

#

.gcloudignore

# If you would like to upload your .git directory, .gitignore file or files

# from your .gitignore file, remove the corresponding line

# below:

.git
.gitignore

# Python pycache:

**pycache**/

# Ignored by the build system

/setup.cfg

# Byte-compiled / optimized / DLL files

**pycache**/
_.py[cod]
_$py.class

# environments

.venv/
venv/

# PyCharm

.idea/

# pdm

pdm.lock
.pdm-python

# ruff

.ruff_cache

# secrets

secrets/\*

# IPython

profile_default/
ipython_config.py

# Jupyter Notebook

.ipynb_checkpoints

# macOS

.DS_Store

# Back-ups

.archive/\*
_.bak
_.back

# json

\*.json

# Ignore local environment

.env.local
