gunicorn==20.1.0
psycopg2>=2.9.9
google-cloud>=0.34.0
google-cloud-secret-manager>=2.16.4
python-dotenv>=1.0.0
django>=4.2.6
djangorestframework>=3.14.0
django-redis>=5.4.0
redis>=5.0.1
djangorestframework-api-key>=3.0.0